[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/neoskye-team/runtime.git
[submodule "atelier"]
	path = atelier
	url = https://github.com/neoskye-team/atelier.git
